@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora:wght@400;700&family=Montserrat:wght@400;600&display=swap");
@import url("/assets/css/grid.css");

:root {
  --clr-bg: #181719;
  --font-l: 1.2rem;
  --font-xxl: 2.1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 1.1em;
  color: white;
}

body {
  background-color: var(--clr-bg);
}

.container {
  max-width: 85%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Navbar */
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Crimson Pro";
  font-size: 1.2rem;
  color: white;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu li {
  margin: 0 40px;
}
.menu a {
  color: white;
  transition: text-decoration 150ms ease;
}
.menu a:hover {
  text-decoration: underline;
}
.menu .active {
  font-weight: bold;
}

/* Home */
.home {
  margin-top: 60px;
  display: flex;
  height: calc(100% - 120px);
}
.home__text,
.home__image {
  padding: 0 20px;
}
.home__text {
  flex-basis: calc(100% * 2 / 5);
}
.home__text h1 {
  font-family: "Lora";
  font-size: var(--font-xxl);
  justify-self: self-start;
}
.home__text .description p {
  font-size: var(--font-l);
  margin: 40px 0;
}

.btn {
  padding: 4px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: opacity 150ms ease;
}
.btn-icon {
  display: flex;
  align-items: center;
}
.btn-icon svg {
  margin-left: 20px;
}
.btn:hover {
  opacity: 0.8;
}
.home__image {
  position: relative;
  flex-basis: calc(100% * 3 / 5);
  height: 100%;
  margin-bottom: 120px;
}
.realisation {
  max-width: 100%;
}
.artist {
  position: absolute;
  right: 40px;
  bottom: -100px;
  background-color: var(--clr-bg);
  padding: 1.2rem 1.5rem;
  /* max-width: 50%; */
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.artist__infos {
  display: flex;
  align-items: center;
}
.artist__text {
  margin-left: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  font-size: 1.1rem;
  font-weight: bold;
}
.job {
  font-size: 0.9rem;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.realisation_desc {
  margin-top: 12px;
  font-family: "Lora", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

hr {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
  .container {
    height: 100%;
    max-width: 95%;
  }

  .home {
    flex-flow: column;
  }

  .home__text,
  .home__image {
    flex-basis: 100%;
    padding: 0;
  }
  .realisation {
    /* max-height: 350px; */
  }

  hr {
    display: inherit;
    border-color: white;
    display: block;
    width: 70%;
    margin: 20px auto;
  }
  .nav {
    display: none;
  }

  .artist {
    height: 138px;
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: calc(-138px / 2);
    height: 138px;
    max-width: none;
  }
}

/* @media screen and (max-width: 992px) {
  .home__text,
  .home__image {
    flex-basis: 50%;
  }
} */
