.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.column-m {
  flex-basis: 66.6667%;
}
.column-sm {
  flex-basis: 33.333%;
}
.column-xs {
  flex-basis: 25%;
}
@media (max-width: 800px) {
  .column {
    flex-basis: 100%;
  }
}

/* @media (max-width: 1200px) {
  .column-m {
    flex-basis: 50%;
  }
} */
